// Media Types

@mixin media($type) {
  // Retina
  @if $type == retina {
    @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) { @content }
  }
  // Landscape phones and down
  @if $type == max480 {
    @media (max-width: 480px) { @content }
  }
  // Landscape phone to portrait tablet
  @if $type == max767 {
    @media (max-width: 767px) { @content }
  }
  // Portrait tablet to landscape and desktop
  @if $type == min768max979 {
    @media (min-width: 768px) and (max-width: 979px) { @content }
  }
  // Large desktop
  @if $type == min1200 {
    @media (min-width: 1200px) { @content }
  }
  // Implied default of 980px to 1199px
}

// Paper

@mixin box-shadow-double($shadow, $inset) {
  -webkit-box-shadow: $shadow, $inset;
     -moz-box-shadow: $shadow, $inset;
          box-shadow: $shadow, $inset;
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}
@mixin skew-rotate($skew, $degrees) {
  -webkit-transform: skew($skew) rotate($degrees);
     -moz-transform: skew($skew) rotate($degrees);
      -ms-transform: skew($skew) rotate($degrees);
       -o-transform: skew($skew) rotate($degrees);
          transform: skew($skew) rotate($degrees);
}
@mixin skew($skew) {
  -webkit-transform: skew($skew);
     -moz-transform: skew($skew);
      -ms-transform: skew($skew);
       -o-transform: skew($skew);
          transform: skew($skew);
}
