@import "compass/css3";

// Variables
// **************************************************************************

$ribbonHorizHeight: 32px;

$brightGreen:            #dcff8f; // hsl(79, 44, 100)
$subtleGreen:            #afe557; // hsl(83, 62, 90)
$shadowGreen:            #93bf4c; // hsl(83, 60, 75)
$darkGreen:              #4e6627; // hsl(83, 62, 40)

$brightRed:              #c73b3c; // hsl(0, 70, 78)
$subtleRed:              #da5050; // hsl(0, 63, 85)
$shadowRed:              #911919; // hsl(0, 83, 57)
$darkRed:                #631a15; // hsl(4, 79, 39)

$brightPurple:           adjust-hue($brightGreen, 175deg);
$subtlePurple:           lighten(adjust-hue($subtleGreen, 171deg), 10%);
$shadowPurple:           adjust-hue($shadowGreen, 171deg);
$darkPurple:             adjust-hue($darkGreen, 171deg);

$brightBlue:             saturate(adjust-hue($brightPurple, -58deg), 5%);
$subtleBlue:             saturate(lighten(adjust-hue($subtlePurple, -54deg), 5%), 5%);
$shadowBlue:             saturate(adjust-hue($shadowPurple, -54deg), 5%);
$darkBlue:               saturate(adjust-hue($darkPurple, -54deg), 5%);

// @todo stitch offset and border radii should move up here

// Customizable Globals
// **************************************************************************

* {
    @include box-sizing(border-box);
}

.ribbon {
    margin: 0 5px 10px 0; // -2px -4px -4px -10px;
    min-width: 64px;

    &.ribbon-set {
        margin: 0 -15px 10px -20px;
    }

    p {
        margin: 0;
        padding: 7px 12px;
        font-size: 15px;
    }
}

.ribbon-green,
.ribbon-blue {
    p {
        color: rgba(black, 0.8);
        text-shadow: 0 1px rgba(white, 0.8);
    }
}

.ribbon-red,
.ribbon-purple {
    p {
        color: white;
        text-shadow: 0 -1px rgba(black, 0.5);
    }
}

// Ribbon
// **************************************************************************

.ribbon {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    @include inline-block;
    @include transition(all, 0.3s, cubic-bezier(0.12, 0.89, 0.83, 0.67), false);
    
    .ribbon-stitch {
        position: relative;
        overflow: hidden;
    }
    
    .fabric {
        position: relative;
        z-index: 2;

        &:after,
        &:before {
            content: '';
            position: absolute;
        }
    }
        
    .top-right,
    .bottom-right,
    .top-left,
    .bottom-left,
    .center-left,
    .center-right {
        width: $ribbonHorizHeight;
        height: $ribbonHorizHeight;
        position: absolute;
        z-index: 1;
        @include rotate(45deg);
    }

    .top-right {
        @include box-shadow(0 5px 10px 0 rgba(black, 0.2));
    }

    .top-left {
        @include box-shadow(5px 0 10px 0 rgba(black, 0.2));
    }
}

// Green ribbon
// **************************************************************************

.ribbon-green {
    .fabric {
        background-color: $shadowGreen;
    }

    .top-right,
    .bottom-right,
    .top-left,
    .bottom-left,
    .center-left,
    .center-right {
        background: $shadowGreen;
    }

    &.ribbon-horizontal {
        .fabric:after {
            border-top: 1px dashed rgba($darkGreen, 0.6);
            border-bottom: 1px dashed rgba($darkGreen, 0.6);
        }

        .fabric:before {
            border-top: 1px dashed $subtleGreen;
            border-bottom: 1px dashed $subtleGreen;
        }

        &.ribbon-right {
            .fabric {
                @include background-image(linear-gradient(left, $brightGreen, $shadowGreen));
            }

            .fabric:after {
                border-left: 1px dashed rgba($darkGreen, 0.6);
            }

            .fabric:before {
                border-left: 1px dashed $subtleGreen;
            }
        }

        &.ribbon-left {
            .fabric {
                @include background-image(linear-gradient(left, $shadowGreen, $brightGreen));
            }

            .fabric:after {
                border-right: 1px dashed rgba($darkGreen, 0.6);
            }

            .fabric:before {
                border-right: 1px dashed $subtleGreen;
            }
        }

        &.ribbon-both {
            .fabric {
                @include background-image(linear-gradient(left, $shadowGreen, $brightGreen, $brightGreen, $shadowGreen));
            }
        }
    }
}

// Red ribbon
// **************************************************************************

.ribbon-red {
    .fabric {
        background-color: $shadowRed;
    }

    .top-right,
    .bottom-right,
    .top-left,
    .bottom-left,
    .center-left,
    .center-right {
        background: $shadowRed;
    }

    &.ribbon-horizontal {
        .fabric:after {
            border-top: 1px dashed $darkRed;
            border-bottom: 1px dashed $darkRed;
        }

        .fabric:before {
            border-top: 1px dashed $subtleRed;
            border-bottom: 1px dashed $subtleRed;
        }

        &.ribbon-right {
            .fabric {
                @include background-image(linear-gradient(left, $brightRed, $shadowRed));
            }

            .fabric:after {
                border-left: 1px dashed $darkRed;
            }

            .fabric:before {
                border-left: 1px dashed $subtleRed;
            }
        }

        &.ribbon-left {
            .fabric {
                @include background-image(linear-gradient(left, $shadowRed, $brightRed));
            }

            .fabric:after {
                border-right: 1px dashed $darkRed;
            }

            .fabric:before {
                border-right: 1px dashed $subtleRed;
            }
        }

        &.ribbon-both {
            .fabric {
                @include background-image(linear-gradient(left, $shadowRed, $brightRed, $brightRed, $shadowRed));
            }
        }
    }
}

// Blue ribbon
// **************************************************************************

.ribbon-blue {
    .fabric {
        background-color: $shadowBlue;
    }

    .top-right,
    .bottom-right,
    .top-left,
    .bottom-left,
    .center-left,
    .center-right {
        background: $shadowBlue;
    }

    &.ribbon-horizontal {
        .fabric:after {
            border-top: 1px dashed rgba($darkBlue, 0.6);
            border-bottom: 1px dashed rgba($darkBlue, 0.6);
        }

        .fabric:before {
            border-top: 1px dashed $subtleBlue;
            border-bottom: 1px dashed $subtleBlue;
        }

        &.ribbon-right {
            .fabric {
                @include background-image(linear-gradient(left, $brightBlue, $shadowBlue));
            }

            .fabric:after {
                border-left: 1px dashed rgba($darkBlue, 0.6);
            }

            .fabric:before {
                border-left: 1px dashed $subtleBlue;
            }
        }

        &.ribbon-left {
            .fabric {
                @include background-image(linear-gradient(left, $shadowBlue, $brightBlue));
            }

            .fabric:after {
                border-right: 1px dashed rgba($darkBlue, 0.6);
            }

            .fabric:before {
                border-right: 1px dashed $subtleBlue;
            }
        }

        &.ribbon-both {
            .fabric {
                @include background-image(linear-gradient(left, $shadowBlue, $brightBlue, $brightBlue, $shadowBlue));
            }
        }
    }
}

// Purple ribbon
// **************************************************************************

.ribbon-purple {
    .fabric {
        background-color: $shadowPurple;
    }

    .top-right,
    .bottom-right,
    .top-left,
    .bottom-left,
    .center-left,
    .center-right {
        background: $shadowPurple;
    }

    &.ribbon-horizontal {
        .fabric:after {
            border-top: 1px dashed rgba($darkPurple, 0.8);
            border-bottom: 1px dashed rgba($darkPurple, 0.8);
        }

        .fabric:before {
            border-top: 1px dashed $subtlePurple;
            border-bottom: 1px dashed $subtlePurple;
        }

        &.ribbon-right {
            .fabric {
                @include background-image(linear-gradient(left, $brightPurple, $shadowPurple));
            }

            .fabric:after {
                border-left: 1px dashed rgba($darkPurple, 0.8);
            }

            .fabric:before {
                border-left: 1px dashed $subtlePurple;
            }
        }

        &.ribbon-left {
            .fabric {
                @include background-image(linear-gradient(left, $shadowPurple, $brightPurple));
            }

            .fabric:after {
                border-right: 1px dashed rgba($darkPurple, 0.8);
            }

            .fabric:before {
                border-right: 1px dashed $subtlePurple;
            }
        }

        &.ribbon-both {
            .fabric {
                @include background-image(linear-gradient(left, $shadowPurple, $brightPurple, $brightPurple, $shadowPurple));
            }
        }
    }
}

// Horizontal ribbon
// **************************************************************************

.ribbon-horizontal {

    height: $ribbonHorizHeight;

    .ribbon-stitch {
        height: $ribbonHorizHeight;
        // border-top: 1px solid rgba(black, 0.3);
        // border-bottom: 1px solid rgba(black, 0.3);
    }

    .fabric {
        height: $ribbonHorizHeight;

        &:after {
            top: 4px;
            right: 0;
            bottom: 5px;
            left: 0;
        }

        &:before {
            top: 5px;
            right: 1px;
            bottom: 4px;
            left: 1px;
        }
    }
    
    .top-right,
    .bottom-right,
    .center-right {
        right: 9px;
    }

    .top-left,
    .bottom-left,
    .center-left {
        left: 9px;
    }

    .top-right,
    .top-left {
        bottom: ($ribbonHorizHeight / 2);
    }

    .bottom-right,
    .bottom-left {
        top: ($ribbonHorizHeight / 2);
    }

    .center-left,
    .center-right {
        bottom: 0;
    }

    @mixin radii-right {
        @include border-top-left-radius(4px);
        @include border-bottom-left-radius(4px);
    }

    @mixin radii-left {
        @include border-top-right-radius(4px);
        @include border-bottom-right-radius(4px);
    }

    &.ribbon-right {
        @include radii-right;

        .ribbon-stitch {
            @include radii-right;
            padding-right: 22px;
        }

        .fabric {
            @include radii-right;

            &:after,
            &:before {
                @include radii-right;
                margin-left: 5px;
            }
        }
    }
     
    &.ribbon-left {
        @include radii-left;

        .ribbon-stitch {
            @include radii-left;
            padding-left: 22px;
        }

        .fabric {
            @include radii-left;

            &:after,
            &:before {
                @include radii-left;
                margin-right: 5px;
            }
        }
    }
     
    &.ribbon-both {
        .ribbon-stitch {
            padding-right: 22px;
            padding-left: 22px;
        }
    }
}
