# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# SASS
.sass-cache

# Bootstrap LESS

less/accordion.less
less/alerts.less
less/bootstrap.less
less/breadcrumbs.less
less/button-groups.less
less/buttons.less
less/carousel.less
less/close.less
less/code.less
less/component-animations.less
less/dropdowns.less
less/forms.less
less/grid.less
less/hero-unit.less
less/labels-badges.less
less/layouts.less
less/mixins.less
less/modals.less
less/navbar.less
less/navs.less
less/pager.less
less/pagination.less
less/popovers.less
less/progress-bars.less
less/reset.less
less/responsive-1200px-min.less
less/responsive-767px-max.less
less/responsive-768px-979px.less
less/responsive-navbar.less
less/responsive-utilities.less
less/responsive.less
less/scaffolding.less
less/sprites.less
less/tables.less
less/thumbnails.less
less/tooltip.less
less/type.less
less/utilities.less
less/wells.less
